@font-face {
    font-family: "zendots";
    src: url("../font/ZenDots-Regular.ttf");
}
@font-face {
    font-family: "roboto-medium";
    src: url("../font/Roboto-Medium.ttf");
}
@font-face {
    font-family: "roboto-light";
    src: url("../font/Roboto-Light.ttf");
}